# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
**/xcuserdata/
*.xcuserstate

# macOS
.DS_Store
*.swp
*~

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Build artifacts
*.dmg
dist/

# JetBrains
.idea/

# Repo-local scratch space
.tmp/
